/* Responsive utility classes */
.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.col {
  flex: 1;
  padding: 0 0.5rem;
}

/* Responsive grid */
.col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.333%;
}
.col-3 {
  width: 25%;
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.75rem;
  }

  .col-6,
  .col-4,
  .col-3 {
    width: 100%;
  }

  .row {
    margin: 0 -0.25rem;
  }

  .col {
    padding: 0 0.25rem;
    margin-bottom: 1rem;
  }
}

/* Responsive text */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

@media (max-width: 768px) {
  .text-left-mobile {
    text-align: left;
  }
  .text-center-mobile {
    text-align: center;
  }
  .text-right-mobile {
    text-align: right;
  }
}

/* Responsive spacing */
.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-3 {
  padding: 1.5rem;
}
.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.m-3 {
  margin: 1.5rem;
}

/* Hide/show on mobile */
.hide-mobile {
  display: block;
}

.show-mobile {
  display: none;
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }
}
